// app global css in SCSS form
$drawer-bg: #1f2a40;

.text-brand {
  color: #1f2a40 !important;
}
.bg-brand {
  background: #1f2a40 !important;
}

.text-body {
  color: #141b2d !important;
}
.bg-body {
  background: #141b2d !important;
}
